.or-div{
    height: 45px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.link-div{
    height: 45px;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
}