.card-item{
    position: relative;
    padding: 8px;
    border-radius: 12px;
    border-width: 1px;
    width: 300px;

    .card-item-actions{
        position: absolute;
        top: -12.5px;
        right: 10px;
    }

    .card-item-dead{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 12rem;
        z-index: 3;
        opacity: 0.5;

        animation: skullCard 0.5s ease-in-out forwards;

        @keyframes skullCard{
            0%{
                opacity: 0;
            }
            100%{
                opacity: 0.3;
            }
        }
    }

    &.card-item-hidden{
        cursor: none;
        pointer-events: none;
        
        animation: hideCard 0.5s ease-in-out forwards;

        @keyframes hideCard{
            0%{
                transform: scale(1), rotateY(0);
                opacity: 1;
            }
            50%{
                transform:  rotateY(90deg);
                opacity: 0.3;
            }
            100%{
                transform: scale(0.8);
                opacity: 0.3;
            }
        }
    }

    
    .canvas-file{
        position: relative;

        height: 300px;

        .card-item-image{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-height: 300px;
            width: 100%;
            border-radius: 10px;
            
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
        }

        .card-item-audio{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-height: 300px;
            width: 100%;
        }
        
        .card-item-text{
            width: 100%;
            height: 300px;
            border-radius: 10px;
        }
    }

    .canvas-search-utils{
        position: relative;
        height: 0px;

        .canvas-search-utils-items{
            position: absolute;

            top: -13px;
            right: 0;

            display: flex;

            font-size: 20px;

            .item-sensitive{
                margin-left: 10px;
                margin-top: 3px;
            }

            .item-ai{
                font-weight: bold;
            }
        }
    }
    .card-item-link{
        margin-top: 10px;
        text-decoration: underline;
    }
}
