.loadingPage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    transition: all 0s linear;

    //anim hide after 300ms 
    animation: hide 600ms ease-in-out forwards;

    @keyframes hide{
        0%{
            opacity: 1;
        }
        60%{
            opacity: 1;
        }
        100%{
            opacity: 0;
            visibility: hidden;
        }
    }
}